---
import MainLayout from '../layouts/MainLayout.astro'
import Gradient from '../components/Gradient.jsx'
import Editor from "../components/Editor.jsx"
---

<MainLayout>
   <Gradient client:idle />
   <section>
      <div class="w-full flex flex-col items-center gap-8">
         <h1 class="text-center ">Greetings</h1>
         <Editor client:idle />
      </div>
   </section>
   <section class="bg-black">
      <!-- apply to all children with matching .child class -->
   </section>
</MainLayout>
