---
import MainLayout from "../layouts/MainLayout.astro";
import Gradient from "../components/Gradient.jsx";
---

<MainLayout>
	<p class="">my new portfolio</p>
	<Gradient client:idle />
</MainLayout>
