---
import MainLayout from '../layouts/MainLayout.astro'
import Gradient from '../components/Gradient.jsx'
import Editor from "../components/Editor.jsx"
import Editor2 from "../components/Editor_V2.jsx"
import tabs from "../content/EditorContent"

---

<MainLayout>
   <Gradient client:idle />
   <section>
      <div class="motion-bg-in-black w-full flex flex-col items-center gap-8">
         <h1 class="text-center ">Greetings</h1>
         <Editor2 client:idle tabs={tabs} />
      </div>
   </section>
   <section class="bg-black">

   </section>
</MainLayout>