---
import MainLayout from "../layouts/MainLayout.astro";
import Gradient from "../components/Gradient.jsx";
---

<MainLayout>
	<section>
		<Gradient client:idle />
		<div class="title-container">
			<h1 class="">Hey there...</h1>
		</div>
	</section>
</MainLayout>
