---
import MainLayout from '../layouts/MainLayout.astro'
import Gradient from '../components/Gradient.jsx'
import Editor from "../components/Editor.jsx"
import Editor2 from "../components/Editor_V2.jsx"
import tabs from "../content/EditorContent"

---

<MainLayout>
   <Gradient client:idle />
   <section style="background-image: radial-gradient(circle at 100% -40%, transparent 40%, black)">
      <div class="w-full flex items-start justify-end flex-col gap-8"
      >
         <h1 class="text-center text-8xl">Hello <span class="!pt-10">👋</span></h1>
      </div>
   </section>
   <section class="bg-black">

   </section>
</MainLayout>

