---
import MainLayout from "../layouts/MainLayout.astro";
import Gradient from "../components/Gradient.jsx";
---

<MainLayout>
	<!-- <Gradient client:idle /> -->

	<div class="p-5">
		<h1>h1</h1>
		<h2>h2</h2>
		<h3>h3</h3>
		<h4>h4</h4>
		<h5>h5</h5>
		<h6>h6</h6>
		<p>paragraph</p>
	</div>
</MainLayout>
