---
// layout imports
import Head from '../layouts/MainHead.astro'
// componenet imports
import Cursor from '../components/Cursor.astro'
---

<html lang="en">
<Head />
<body class="md:cursor-auto cursor-none group/body">
<Cursor classList="md:invisible md:hidden" />
<div class="">
   <slot />
</div>
<script>
   import '../scripts/SmoothScroll.js'
</script>
</body>
</html>
